{% extends "core/list.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block crumb %}
{{ block.super }}
<li class="breadcrumb-item">
  <a href="{{ request.get_full_path }}">{{page_title}}</a>
</li>
{% endblock %}


{% block app_content %}
  <p>Remover "{{ object }}"?</p>

  <form method="post" c>
    {% csrf_token %}
    <a href="{{ request.META.HTTP_REFERER|default:'/' }}" class="btn btn-secondary">Cancelar</a>
    <button type="submit" class="btn btn-danger">Confirmar</button>
  </form>
{% endblock %}
